.navbar{
	background-color: #6d7474;
}


li > a{
	color:#ffc15d !important;
	font-size: 1.2em;

}
 .lishadow > li:hover{
	box-shadow: 0 16px 26px -10px rgba(208, 153, 53, 1), 0 4px 25px 0px rgba(0, 0, 0, 5), 0 8px 10px -5px rgba(208, 153, 53, 0.2);
	/*border-right: 3px darkgrey solid;*/

}
/*.button:hover{
	color:#ffc15d !important;
	font-size: 1.2em;}*/
 .button:hover{

box-shadow: 0 16px 26px -10px rgba(208, 153, 53, 1), 0 4px 25px 0px rgba(0, 0, 0, 5), 0 8px 10px -5px rgba(208, 153, 53, 0.2);
}
.wizard-card[data-color="green"] .moving-tab {
  background-color: #ffc15d;
  box-shadow: 0 16px 26px -10px rgba(208, 153, 53, 1), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(208, 153, 53, 0.2);
}
.panelhead{
	background-color: #c5caca !important;
  box-shadow: 0 10px 20px -5px rgba(208, 153, 53, 1), 0 2px 10px 0px rgba(0, 0, 0, 0.12), 0 5px 7px -2px rgba(208, 153, 53, 0.2);
}