<!doctype html>
<html lang="en" ng-app="transpoterApp">
<head>
<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<style type="text/css">
.form-mrgin{
  margin-left:0px;
  margin-right:0px;
}

</style>
</head>
<body ng-controller = 'homeController'>
<nav class="navbar navbar-default" style="background-color:#6d7474">
  <div class="container-fluid">
   
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color:#ffc15d;box-shadow: 5px 5px 2px black;">Quick Transport</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">  
      <form id="signin" class="navbar-form navbar-right" role="form" method="post" action="../api/Authentication/customer_login.php">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input id="email" type="email" class="form-control" name="email" value="" placeholder="Email Address" required>                                        
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password" required>                                        
        </div>
        <button type="submit" class="btn" style="background-color:#ffc15d; border:1px black solid">Login</button>
      </form>
    </div>
  </div>
</nav>
    <div class="container" style="background-color:">
      <div class="row main">
        <div class=" panel col-sm-6" style="background-color:#eee; box-shadow: 5px 5px 2px lightgrey;">
        <div class="panel-heading" >
          <div class="panel-title text-center" style=" box-shadow: 5px 5px 2px #ffc15d; border:1px grey solid; border-top:0px;">
            <h3 class="title">About Us</h3>
          </div>
        </div>
        <div class="panel-body">
            is a logistics marketplace which lets consumers post their shipment and allows verified transporters to provide their best prices and services.
          <p>
            is a logistics marketplace which lets consumers post their shipment and allows verified transporters to provide their best prices and services.
          </p>
          <p>
            is a logistics marketplace which lets consumers post their shipment and allows verified transporters to provide their best prices and services.
          </p>
          <p>
            is a logistics marketplace which lets consumers post their shipment and allows verified transporters to provide their best prices and services.
          </p>
        </div>
        </div>
        <div class="panel col-sm-5 col-sm-offset-1" style="background-color:#eee; box-shadow: 5px 5px 2px lightgrey;">
          <div class="panel-heading" >
            <div class="panel-title text-center" style=" box-shadow: 5px 5px 2px #ffc15d; border:1px grey solid; border-top:0px;">
              <h3 class="title">Customer Registration</h3>
            </div>
          </div> 
          <div class="panel-body">
            <form class="form-horizontal" name='registrationform'>
              <div class="row">
              
                <div class="form-group col-sm-6 form-mrgin" style="margin-left:0px; margin-right:0px;">
                  <label for="name" class="cols-sm-2 control-label">First Name</label>
                  
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="fname" id="fname"  placeholder="Enter First Name" ng-model="data.fname" ng-required='true'/>
                    </div>
                 
                </div>
                
                <div class="form-group col-sm-6 form-mrgin" style="margin-left:0px; margin-right:0px;">
                  <label for="name" class="cols-sm-2 control-label">Last Name</label>
                  
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <input type="text" class="form-control" name="lname" id="lname"  placeholder="Enter Last Name" ng-model="data.lname" ng-required='true'/>
                    </div>
                  
                </div>
              </div>

              <div class="form-group form-mrgin" style="margin-left:0px; margin-right:0px;">
                <label for="email" class="cols-sm-2 control-label">Email</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email" ng-model="data.email" ng-required='true'/>
                  </div>
                </div>
              </div>

              <div class="form-group form-mrgin" style="margin-left:0px; margin-right:0px;">
                <label for="username" class="cols-sm-2 control-label">Contact Number</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="mobile" id="mobile"  placeholder="Enter your Number" ng-model="data.mobile" ng-required='true'/>
                  </div>
                </div>
              </div>

              <div class="form-group form-mrgin" style="margin-left:0px; margin-right:0px;">
                <label for="password" class="cols-sm-2 control-label">Password</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" ng-model="data.password" ng-required='true'/>
                  </div>
                </div>
              </div>

              <div class="form-group form-mrgin" style="margin-left:0px; margin-right:0px;">
                <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password" ng-model="data.confirm" ng-required='true'/>
                  </div>
                </div>
              </div>

              <div class="form-group form-mrgin" style="margin-left:0px; margin-right:0px;">
                <button type="submit" ng-click="registrationform.$valid && registerCustomer()" class="btn btn-primary btn-lg btn-block login-button" style="background-color:#ffc15d">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer" style="background-color:#6d7474">
          <div class="container text-center">
               Made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>. Free download <a href="http://www.creative-tim.com/product/bootstrap-wizard">here.</a>
          </div>
      </div>
</body>
  <script src="assets/js/angular.js" type="text/javascript"></script>
  <script src="assets/js/transporter_angular.js" type="text/javascript"></script>
  <script src="assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
  <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="assets/js/jquery.bootstrap.js" type="text/javascript"></script>
</html>